@page
@model CabinetMedecin2.Views.view1.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assistante[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assistante[0].Poste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assistante) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poste)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssistantId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssistantId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssistantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
